<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :lat %><br />
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    <%= f.label :lon %><br />
    <%= f.text_field :lon %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :tracker_count %><br />
    <%= f.text_field :tracker_count %>
  </div>
  <div class="field">
    <%= f.label :claimed %><br />
    <%= f.check_box :claimed %>
  </div>
  <div class="field">
    <%= f.label :claimed_at %><br />
    <%= f.datetime_select :claimed_at %>
  </div>
  <div class="field">
    <%= f.label :claimer_id %><br />
    <%= f.number_field :claimer_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
