<!--<p id="notice"><%= notice %></p>-->
<img src="<%= @item.image_url =%>" width="100%" />
<div style="padding:5px;padding-bottom" >
<div style="border-radius: 10px; padding:10px; background-color:#CCCCCC; font: 14pt/1.5em Helvetica,'Helvetica neue', Arial, sans-serif;box-shadow: 2px 2px 2px #000;">
  <%= @item.description %>
</div>
</div>

<!--
<p>
  <b>Lat:</b>
  <%= @item.lat %>
</p>

<p>
  <b>Lon:</b>
  <%= @item.lon %>
</p>

<p>
  <b>User:</b>
  <%= @item.user_id %>
</p>

<p>
  <b>Tracker count:</b>
  <%= @item.tracker_count %>
</p>

<p>
  <b>Claimed:</b>
  <%= @item.claimed %>
</p>

<p>
  <b>Claimed at:</b>
  <%= @item.claimed_at %>
</p>

<p>
  <b>Claimer:</b>
  <%= @item.claimer_id %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
-->